.experience {
  margin-bottom: 2.4rem;
  padding: 0 1.2rem 2.4rem;

  border-bottom: 1px solid var(--background-light);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.2rem;
}

.title {
  font-size: var(--text-md);
  font-weight: bold;
  margin-right: 5px;
}

.position {
  color: var(--brand);
  font-weight: bold;
}

.description {
  margin-bottom: 1.8rem;
  font-weight: 200;
  // font-size: var(--text-xs);
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.details {
  font-weight: 200;
  display: inline-block;
  font-size: var(--text-xs);
  font-weight: 400;
  color: var(--brand);
  cursor: pointer;
  padding-left: 5px;
}

.details:hover {
  text-decoration: underline;
}

.linkButton {
  font-size: var(--text-xs);
  font-weight: 400;
  background: none!important;
  border: none;
  padding: 0!important;
  color: var(--brand);
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  margin: 0;
  line-height:2;
  cursor: pointer;
}

.linkButton:hover{
  text-decoration: underline;
}