.utilityButton {
  display:inline-block;
  outline: none;
  cursor: pointer;


  background: var(--brand);
  color: var(--background-dark);

  padding: 0.5rem;
  border-color: var(--brand);

  font-size: small;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  width: 10rem;

  position: relative;
  z-index: 20;

  overflow: hidden;
  margin-right: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  border:0.16em solid;

  transition: 0.2s opacity;
}

.utilityButton:hover {
  opacity: 0.9;
  border-color: var(--brand);
}

  @media all and (max-width:30em){
    .utilityButton{
      display:block;
      margin:0.2em auto;
    }
  }