.utilityButton {
  position: relative;
  z-index: 1;
  display:inline-block;
  color: var(--text-tab);
  border: none;
  background: var(--brand);
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background .2s ease;
  cursor: pointer;
  overflow: hidden;
  margin-right: 20px;
  margin-top: 10px;
  box-sizing: border-box;

  &:hover {
    background: var(--bot-sub-brand);
  }

  &:disabled{
    opacity: 0.3; 
    cursor: not-allowed;
  }

  &:disabled:hover{
      background: var(--brand);
  }
}

  @media all and (max-width:30em){
    .utilityButton{
      display:block;
      margin:0.2em auto;
    }
  }

