.home {
  display: grid;
  grid-template-columns: 60px 1fr;
}


.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}