.degrees {
  position: relative;
  font-size: var(--text-xs);
}

.title{
  font-size: 1.3rem;
  color: var(--brand);
  font-weight: bold;
}

.schoool{
  font-weight: 500;
}

.details{
  font-weight: lighter;
  font-size: 1.3rem;
}
