/* loader */
.loader{
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background-color: #76c7c0;
}

.message{
  font-size: var(--text-md);
  color:  #76c7c0;
  font-weight: 500;
}