.certifications {
  margin-bottom: 2.4rem;
  padding: 0 1.2rem 2.4rem;

  border-bottom: 1px solid var(--background-light);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.2rem;
}

.title {
  font-size: var(--text-md);
  font-weight: bold;
}

.title:hover {
  text-decoration: underline;
}

.issuer {
  color: var(--brand);
  font-weight: bold;
}

.issuer:hover {
  text-decoration: underline;
}

.arrow{
  padding-left: 0px;
  vertical-align: middle;
  margin-right: 0px;
  width: 20px;
}

.details_container{
  white-space: nowrap; 
}

.linkButton {
  font-size: var(--text-xs);
  background: none!important;
  border: none;
  padding: 0!important;
  color: var(--brand);
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  line-height:2;
  cursor: pointer;
}

.linkButton:hover{
  text-decoration: underline;
}


.detailsImgContainer{
  float: left;
  margin-right: 18px;
  margin-bottom: 18px;
  max-height:10%;
  max-width:10%;
}

.detailsImg{
  float: left;
  width: 100%;
  height: 100%;
}

.description {
  margin-bottom: 1.8rem;
  text-align: justify;
  font-size: var(--text-xs);
  font-weight: 200;
  gap: 1.2rem;

  display: flex;
  flex-direction: column;

  a {
    color: var(--brand);
    text-decoration: none;
    padding-left: 3px;
  }

  a:hover {
    text-decoration: underline;
  }
}

