.chatboxicon{
    position: relative;
    z-index: 20;
    background-color: transparent;
    border: 0px;
    padding-bottom: 9px;
}
  
.icon{
    opacity: 0.3;
    padding: 0;
    margin: 0;
}

.icon:hover {
    color: var(--brand);
    opacity: 1;
    padding: 0;
    margin: 0;
  }