/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root[data-theme="light"] {
  font-size: 62.5%;

  --background: white;
  --bg-opaque: rgb(255, 255, 255);
  --background-light: rgb(234, 229, 229);
  --background-dark: white;
  --background-dark-opaque: white;

  --text: rgb(85, 85, 85);
  --text-error: red;
  --text-highlight:#76c7c0;
  --text-form:rgb(85, 85, 85);
  --text-tab:#ffffff;

  --brand: rgb(225, 24, 178);
  --sub-brand: #E118B2;
  --alter-color:#76c7c0;
  --is-open-text:#c3c4c3;
  --progress-bar-color:#76c7c0;
  --progress-bar-background: #e0e0e0;
  --switch-ball-color1: #fcd9f4;
  --switch-ball-color2: #E118B2;
  --switch-ball-color3: #a01880;
  --switch-background-image-color1:#E118B2;
  --switch-background-image-color2:#900f72;

  
  --text-xs: 1.6rem;
  --text-sm: 1.8rem;
  --text-md: 2.2rem;
  --text-lg: 3.6rem;
  --text-xl: 5.6rem;
  --text-2xl: 9.6rem;
}

:root[data-theme="dark"] {
  font-size: 62.5%;

  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark-opaque: rgb(17, 17, 17, 0.25);
  --background-dark: rgb(17, 17, 17);
  --alter-color: rgb(101, 97, 97);
  --is-open-text:#c3c4c3;
  --progress-bar-color:#76c7c0;
  --progress-bar-background: #e0e0e0;
  --switch-ball-color1: #fedee2;
  --switch-ball-color2: #d63534;
  --switch-ball-color3: #a81a1a;
  --switch-background-image-color1:rgb(10, 255, 157);
  --switch-background-image-color2:rgb(11, 147, 92);

  --text-tab:black;
  --text-highlight:rgb(10, 255, 157);
  --text-form:#fff;
  --text: rgb(188, 189, 194);
  --text-error: red;
  --brand: rgb(10, 255, 157);
  --sub-brand: rgb(75, 213, 158);

  --text-xs: 1.6rem;
  --text-sm: 1.8rem;
  --text-md: 2.2rem;
  --text-lg: 3.6rem;
  --text-xl: 5.6rem;
  --text-2xl: 9.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--brand);
  color: var(--background);
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-size: var(--text-sm);
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-wrapper {
  /* display: flex;
  justify-content: center;
  gap: 5rem; */
  /* height: 80vh; */

  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 2.4rem;
  }
}

.chip {
  font-size: var(--text-xs);
  background: var(--background-light);
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
}
