
.container {
  flex-direction: column;
  border: 1px solid  var(--alter-color);
  border-radius: 15px;
  padding: 12px;
  margin-bottom: 5px;
  align-items: center;
  text-align: left;
  gap: 10px;
  min-width: 300px;
}

.legend {
  font-size: 1.3rem;
  padding: 0 10px;
  color:  var(--alter-color);
}

.subTitle{
  font-weight: bold;
  font-size: small;
  text-align: left;
  margin-bottom: 2px;
}

.innerTitle{
  width: 100%;
  text-align: right;
  font-size: small;
  margin-bottom: 2px;
  vertical-align: bottom;
}

.content{
  width: 100%;
  border: 1px solid var(--alter-color);
  border-radius: 5px;
  padding: 5px;
  font-size: small;
  align-items: left;
  min-width: 270px;
}

.header {
  display: flex;
  gap: 3px; 
}

.linkButton {
  font-size: x-small;
  background: none!important;
  border: none;
  padding: 0!important;
  color: var(--brand);
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  line-height:2;
  cursor: pointer;
}

.linkButton:hover{
  text-decoration: underline;
}